$font-family: 'Source Serif 4';
$base-font-size: 16px;
$basic-color: #000;
$secondary-color:#262626;
$color-txt_column-text: #474747;
$primary-color: #FFF;
$bg-color: #F3F7EA;
$button-color: #FFA60D;
$arrow-up-color: #FFAC1C;